* {
    margin: 0px;
}


body{
    background-image: url(/images/AdobeStock_126681215-min.jpg);
    background-image: no-repeat;
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

header{display: flex;
}

h1{
    font-size: 2em;
    
}

ul{ display: flex;
    
}

a {
    text-decoration: none;
    list-style-type: none;
}

img{width: 70px;}